@import "../../styles/variaveis";

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 24px;
  
    
}

h1 {
    font-size: 10px;
    font-family: $fonte-normal;
    color: white;
    font-weight: 100;
    
}

a {
    text-decoration: none;
}

img {
    padding: 0 4px;
}
